<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="instantiationTracingBeanPostProcessor" class="com.ljj.spring.beans.InstantiationTracingBeanPostProcessor"></bean>
    <!--抽象bean不会呗继承，bean属性中的abstract="true"指定为抽象bean-->
    <bean id="car" class="com.ljj.spring.beans.autowire.Car" p:banch="Audi" p:price="200000" abstract="true"/>
    <bean id="car2" parent="car"  p:price="10000000"/>

    <bean id="address" class="com.ljj.spring.beans.autowire.Address" p:city="贵阳市" p:street="金阳南路南"/>
    <bean id="person" class="com.ljj.spring.beans.autowire.Person">
        <property name="age" value="22"/>
        <property name="car" ref="car2"/>
        <property name="address" ref="address"/>
    </bean>


</beans>